canvas { width: 100%; height: 100% }
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:Monospace;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    font-weight: normal;
    background-color: #fff;
    margin: 0px;
}

.gridmain {
    background-color: #909090;
    display: grid;
    height:100%;
    grid-template-columns: 80px 1fr; /* minmax(300px, 1fr)  */
    grid-template-rows: 1fr 80px;
    transition: margin-left .5s;
    transition: margin-bottom .5s;
    transition: 0.5s;
}

.griditem {
    border: 1px solid #000;
}

  
#divGLView {
    display: inline-block;
    background-color: #ddd;
    grid-column: 2;
    grid-row: 1;
    width:100%;
    height:100%;
    margin-right: 0px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
    max-height: 100%;
}

#glView {
    width:100%;
    height:100%;
}

.graphCanvas {
    /*border: 1px dotted blue;*/
    background-color: #EEE;
    height:100%;
}

#tabsPanelButton {
    background-color: pink;
    grid-column: 2;
    grid-row: 2;
    height: 80px;
    width:  100%;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}



#tabsPanel {
    background-color: #444;
    grid-column: 2;
    grid-row: 2;
    height: 0%;
    width: 100%;
    text-align: "left";
    overflow-x: hidden;
    transition: 0.5s;
}

#divTabs {
    height:100%;
    width:100%;
}

#controlsPanel {
    background-color: black;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#controlsPanelButton {
    background-color: #111;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    width:  80px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}



#controlsPanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#divControls {
    grid-column: 1;
    grid-row: 1 / span 2;
    position: relative;
    transform-origin: top left;
}

#controlsPanel a:hover {
    color: #f1f1f1;
}

#tabsPanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
#tabsPanel a:hover {
    color: #f1f1f1;
}
  
#controlsPanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#tabsPanel .closebtn {
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    width:100%;
    height:100%;
}

.openbtn:hover {
    background-color: #444;
}

.openbtn span {
    display: inline-block;
}

.openbtnRotated span {
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: none;
    margin:0;
    padding:0;
}  


.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
    background-color: rgba(30,30,30,1.0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
     
  }

.overlay_text {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 20%;
    right:20%;
    font-size: 10pt;
}



