canvas { width: 100%; height: 100% }
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:Monospace;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    font-weight: normal;
    background-color: #fff;
    margin: 0px;
}

.gridmain {
    background-color: #909090;
    display: grid;
    height:100%;
    grid-template-columns: 80px 1fr; /* minmax(300px, 1fr)  */
    grid-template-rows: 1fr 80px;
    transition: margin-left .5s;
    transition: margin-bottom .5s;
    transition: 0.5s;
}

.griditem {
    border: 1px solid #000;
}

#controlsPanel {
    background-color: black;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#controlsPanelButton {
    background-color: red;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    width:  80px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#controlsPanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#controlsPanel a:hover {
    color: #f1f1f1;
}

#tabsPanel {
    background-color: yellow;
    grid-column: 2;
    grid-row: 2;
    height: 0%;
    width: 100%;
    text-align: "left";
    overflow-x: hidden;
    transition: 0.5s;
}

#tabsPanelButton {
    background-color: pink;
    grid-column: 2;
    grid-row: 2;
    height: 80px;
    width:  100%;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#tabsPanel .closebtn {
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}



#divGLView {
    display: inline-block;
    background-color: #ddd;
    grid-column: 2;
    grid-row: 1;
    width:100%;
    margin-right: 0px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
    max-height: 100%;
}